
.landing-section {
  height: 100%;
  margin: 1rem; 
}


.button-section {
  background-color: #1E9BA6bb;
  min-height: 150px;
  height: 100%;
  border-right: 2px solid #ffffff26;
  border-radius: 1rem;
}


.text-section {
  background-color: #0A2E43bb;
  height: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 1rem;
}


.text-content {
  max-width: 50%;
  margin: 0 auto;
}

.text-section h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 1rem;
  font-weight: 700;
}

.text-section p {
  line-height: 1.6;
  font-size: clamp(1rem, 1.2vw, 1.125rem);
}
