.logo-container {
  height: clamp(80px, 10vh, 150px); 
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: auto;
  height: auto;
}

.glass-navbar {
  background-color: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px); 
  min-height: calc(150px - 1rem);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 0.6rem; 
  padding: 1rem 2rem; 
  margin: 1rem;
}

.glass-navbar .nav-link {
  color: #fffffb; 
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

.glass-navbar .nav-link:hover {
  color: #cccccb; 
}