@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:opsz,wght@14..32,377&display=swap');

#root {
  max-width: 1920;
  margin: 0 auto;
  text-align: center;
  font-family: Inter Tight;
}