@keyframes pulse {
  0% {
    fill-opacity: 1; /* Start fully visible */
  }
  50% {
    fill-opacity: 0.2; /* Fade to 20% opacity */
  }
  100% {
    fill-opacity: 1; /* Return to fully visible */
  }
}

.anim #sm {
  animation: pulse 1.5s infinite;
  animation-delay: 0s;
}

.anim #md {
  animation: pulse 1.5s infinite;
  animation-delay: 0.3s;
}

.anim #lg {
  animation: pulse 1.5s infinite;
  animation-delay: 0.6s;
}