@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:opsz,wght@14..32,377&display=swap');

@keyframes pulse {
  0% {
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0; /* Return to fully visible */
  }
}

text {
  font-variation-settings: 'wght' 600;
}

.anim #sm {
  animation: pulse 1.5s infinite;
  animation-delay: 0s;
}

.anim #md {
  animation: pulse 1.5s infinite;
  animation-delay: 0.333s;
}

.anim #lg {
  animation: pulse 1.5s infinite;
  animation-delay: 0.666s;
}

.anim .loading {
  fill: linear-gradient(37deg, transparent 0%, "#fff" 44%, "#fff" 56%, transparent 100%);
}